.root {
  display: grid;
}

.root:hover {
  cursor: pointer;
}

.withPopInAnimation {
  animation: fadein 200ms;
}

.hidden {
  overflow: hidden;
  height: 0;
  flex: 1 1;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.overlay {
  grid-column: 1/-1;
  grid-row: 1/3;
  height: 100%;
  background-color: var(--color-white);
  opacity: 0;
  border-radius: 4px;
  transition: opacity 100ms;
}
.isDisabled {
  opacity: 0.5;
}
.typeContainer {
  grid-column: 1/-1;
  grid-row: 1/2;
  border-radius: 4px 4px 0 0;
  padding: 8px;
  background-color: var(--color-gray-100);
  font-family: var(--font-family-secondary);
  font-size: 12px;
  line-height: 17px;
  color: var(--color-gray-600);
  display: flex;
  align-items: center;
}
.typeContainerIsOnPhone {
  border-radius: 0;
  padding: 14px 14px 8px 14px;
}
.typeLogo {
  height: auto;
  width: 15px;
  margin-right: 8px;
  @media (--mobile) {
    margin-right: 16px;
  }
}

.theme {
  font-family: var(--font-family-secondary);
  font-size: 11px;
  line-height: 17px;
  flex-grow: 1;
  margin-left: 4px;
}

.diamond {
  content: " ";
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
  margin-left: 5px;
}

.content {
  grid-column: 1/-1;
  grid-row: 2/3;
  border-radius: 0 0 4px 4px;
  background-color: var(--color-white);
  color: var(--color-gray-900);
  padding: 10px 8px 16px 8px;
  font-size: 14px;
  @media (--mobile) {
    padding: 10px 16px 17px 16px;
  }
}
.contentIsOnPhone {
  padding: 10px 14px 16px 14px;
  border-radius: 0;
  border-bottom: 2px solid var(--color-gray-300);
}

.circle {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 50%;
}
