.root {
  background-color: var(--color-gray-200);
  width: 100%;
}

.compact {
  height: calc(var(--spacing-unit) * 15);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: box-shadow 250ms;
}

.root:hover {
  box-shadow: 0 0 20px 0 var(--color-royal-blue);
}

.iconContainer {
  height: calc(var(--spacing-unit) * 10);
  width: calc(var(--spacing-unit) * 10);
  margin-left: calc(var(--spacing-unit) * 5);
  margin-right: calc(var(--spacing-unit) * 12.5);
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: calc(var(--spacing-unit) * 6);
}

.textContainer {
  flex-grow: 1;
}

.title {
}

.excerpt {
}

.showIcon {
  margin-right: calc(var(--spacing-unit) * 4);
  border: none;
  transition: transform 200ms;
}
.showIcon:hover {
  cursor: pointer;
}

.showIconIsOpened {
  transform: rotate(45deg);
}
.details {
  background-color: var(--color-gray-200);
  display: flex;
  justify-content: space-between;
  height: 0;
  opacity: 0;
  margin-left: calc(var(--spacing-unit) * 27.5);
  margin-right: calc(var(--spacing-unit) * 9);
  padding-bottom: 0;
  transition: opacity 50ms, height 200ms, padding-bottom 10ms;
}

.detailsDisplayed {
  padding-bottom: calc(var(--spacing-unit) * 7);
  opacity: 1;
  height: auto;
}

.description {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button {
  margin-top: calc(var(--spacing-unit) * 4);
}
.carrusel {
  width: 55%;
}

.image {
  height: auto;
  width: 100%;
}

.slider {
  margin-top: var(--spacing-unit);
  color: var(--color-gray-900);
}
