.root {
  display: flex;
  justify-content: space-between;
}

.back,
.forward {
  background: none;
  border: none;
  color: var(--color-white);
}

.pageContainer {
  display: flex;
}

.page {
  height: 1em;
  width: 1em;
  margin: 0 0.25em;
  border-radius: 50%;
  background-color: var(--color-white);
}
.isActive {
  background-color: var(--color-blue);
}

.isDisabled {
  color: rgba(255, 255, 255, 0.5);
}
