:root {
  /* Colors */
  --color-blue2: #3a67e5;
  --color-orange: #fd7239;
  --color-silver: #909bb7;
  --color-orange: #fd7239;
  --color-white: #ffffff;
  --color-lightgray: #d2d5de;
  --color-icygray: #e6e9f2;
  --color-midgray: #74777e;
  --color-darkgray: #66696e;
  --color-black: #1a1e28;
  --color-skyblue: #bbd8ec;

  --color-product-lightgray: #f5f5f5;
  --color-product-gainsboro: #e3e3e3;
  --color-product-silver: #ccd3e5;
  --color-product-midgray: #505050;
  --color-product-black: #000000;

  /* Typography */
  --font-family-sans: "FuturaBT", Futura, Arial, sans-serif;
  --font-family-mono: "IBM Plex Mono", "Lucida Console", Monaco, monospace;
  --font-family-product: "Inter", Helvetica, Arial, sans-serif;

  /* Spacing */
  --spacing-unit: 8px;
  --min-desktop-xl-width: 1630px;
  --min-desktop-width: 1160px;
  --min-tablet-width: 720px;

  --min-desktop-sm-width: 1429px;
}

/* GRID */
.grid {
  display: grid;
  position: relative;
}

@media (min-width: 1630px) {
  .grid {
    width: var(--min-desktop-xl-width);
    margin-left: calc(0.5 * (100% - var(--min-desktop-xl-width)));
    margin-right: auto;
    grid-template-columns:
      calc(8 * var(--spacing-unit))
      repeat(
        12,
        calc((var(--min-desktop-xl-width) - 2 * 8 * var(--spacing-unit)) / 12)
      )
      calc(8 * var(--spacing-unit));
  }
}

@media (min-width: 1160px) and (max-width: 1629px) {
  .grid {
    grid-template-columns:
      calc(8 * var(--spacing-unit))
      repeat(12, 1fr)
      calc(8 * var(--spacing-unit));
  }
}

@media (min-width: 720px) and (max-width: 1159px) {
  .grid {
    grid-template-columns:
      calc(5 * var(--spacing-unit))
      repeat(8, 1fr)
      calc(5 * var(--spacing-unit));
  }
}

@media (max-width: 719px) {
  .grid {
    grid-template-columns:
      calc(2 * var(--spacing-unit))
      repeat(4, 1fr)
      calc(2 * var(--spacing-unit));
  }
}

/* INTRO */

.intro {
  overflow: hidden;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    var(--color-blue);
}

.intro__header,
.intro__kicker {
  z-index: 2;
  position: relative;
  grid-column: 1 / -1;
  padding-left: calc(9 * var(--spacing-unit));
  padding-right: calc(9 * var(--spacing-unit));
  background-color: var(--color-black);
}

.intro__header {
  position: relative;
  color: var(--color-white);
  padding-top: calc(12 * var(--spacing-unit));
}

.intro-header__text {
  max-width: 1300px;
  z-index: 2;
  position: relative;
}

.intro__kicker {
  color: var(--color-blue);
  padding-top: calc(12 * var(--spacing-unit));
  padding-bottom: calc(12 * var(--spacing-unit));
}

.intro__kicker span {
  max-width: calc(93 * var(--spacing-unit));
  display: inline-block;
}

.intro__text {
  color: var(--color-black);
  padding-top: calc(16 * var(--spacing-unit));
  padding-right: calc(5 * var(--spacing-unit));
  z-index: 2;
  position: relative;
  grid-column: 2 / 9;
}

.intro__text span {
  max-width: calc(93 * var(--spacing-unit));
  display: inline-block;
}

@media (min-width: 720px) and (max-width: 1159px), (max-width: 719px) {
  .intro__header,
  .intro__kicker {
    padding-left: calc(5 * var(--spacing-unit));
    padding-right: calc(5 * var(--spacing-unit));
  }

  .intro__header {
    padding-top: calc(6 * var(--spacing-unit));
  }

  .intro__text {
    grid-column: 2 / -2;
    padding-top: calc(10 * var(--spacing-unit));
    padding-right: unset;
  }
}

@media (max-width: 719px) {
  .intro__header,
  .intro__kicker {
    padding-left: calc(2 * var(--spacing-unit));
    padding-right: calc(2 * var(--spacing-unit));
  }

  .intro__header {
    padding-top: calc(4 * var(--spacing-unit));
  }

  .intro__kicker {
    padding-top: calc(6 * var(--spacing-unit));
    padding-bottom: calc(8 * var(--spacing-unit));
  }

  .intro__text {
    padding-top: calc(6 * var(--spacing-unit));
  }

  .intro__text span {
    max-width: unset;
  }
}

.intro__phone {
  grid-column: 2 / -3;
  position: relative;
  width: 100%;
  height: 802px;
  margin-top: -280px;
  z-index: 1;
}

@media (min-width: 1160px) and (max-width: 1629px) {
  .intro__phone {
    grid-column: 2 / -2;
  }
}

@media (min-width: 720px) and (max-width: 1159px), (max-width: 719px) {
  .intro__phone {
    grid-column: 2 / -2;
    margin-top: 0;
    height: 830px;
  }
}

@media (min-width: 720px) and (max-width: 1159px) {
  .intro__phone {
    max-width: calc(110 * var(--spacing-unit));
  }
}

@media (max-width: 719px) {
  .intro__phone {
    height: unset;
  }
}

.intro-phone__input {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 310px;
  width: 55%;
}

@media (min-width: 720px) and (max-width: 1159px), (max-width: 719px) {
  .intro-phone__input {
    height: 760px;
    width: 100%;
  }
}

@media (max-width: 719px) {
  .intro-phone__input {
    position: relative;
    height: unset;
  }
}

.intro-phone-input__kicker {
  color: var(--color-white);
  max-width: 1000px;
  display: flex;
  align-items: flex-end;
  height: calc(9 * var(--spacing-unit));
}

@media (max-width: 719px) {
  .intro-phone-input__kicker {
    position: relative;
    height: unset;
    margin-top: calc(7 * var(--spacing-unit));
  }
}

.intro-phone-input__messages {
  position: absolute;
  z-index: 2;
  top: 90px;
  display: flex;
  justify-content: space-between;
  width: calc(3 * 256px + (2 * calc(2 * var(--spacing-unit))));
}

.intro-phone-input-messages__message {
  position: relative;
  /* height: calc(12 * var(--spacing-unit)); */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(32 * var(--spacing-unit));
  background-color: var(--color-white);
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  padding-bottom: 17px;
}

.intro-phone-input-messages__message::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 20px 40px 0px rgba(26, 30, 40, 0.3);
}

@media (min-width: 1160px) and (max-width: 1429px) {
  .intro-phone-input__messages {
    width: calc(2 * 256px + (2 * calc(2 * var(--spacing-unit))));
  }

  .intro-phone-input__messages *:nth-child(3) {
    display: none;
  }
}

@media (min-width: 720px) and (max-width: 1159px), (max-width: 719px) {
  .intro-phone-input__messages {
    flex-direction: column;
    width: unset;
    margin-top: calc(5 * var(--spacing-unit));
  }

  .intro-phone-input__messages > * + * {
    margin-top: calc(2 * var(--spacing-unit));
  }
}

@media (max-width: 719px) {
  .intro-phone-input-messages__message {
    width: 100%;
  }

  .intro-phone-input__messages {
    position: relative;
    top: unset;
    max-width: 456px;
    margin-left: auto;
    margin-right: auto;
  }
}

.intro-message__overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: hsla(224, 65%, 54%, 0.05);
  box-shadow: inset 0 0 50px 0px hsla(224, 67%, 55%, 0.3);
}

.intro-message__container {
  width: 100%;
}

.intro-message__header {
  height: calc(4 * var(--spacing-unit));
  width: 100%;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  line-height: 21px;
  background-color: var(--color-product-lightgray);
  color: var(--color-product-midgray);
}

.intro-message-header__icon {
  height: 19px;
  width: auto;
  margin-right: 6px;
  float: left;
}

.intro-message__text {
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--color-black);
  min-height: calc(10px + 5 * var(--spacing-unit));
}

@media (min-width: 1630px),
  (min-width: 1160px) and (max-width: 1629px),
  (max-width: 719px) {
  .intro-message__text {
    max-height: calc(2 * 20px);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    /* The `autoprefixer: ignore next` comment makes autoprefixer ignore the following part */
    /* needed for CSS multiline ellipsis */

    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.intro-phone-input-messages__message,
.intro-phone-input-messages__message::before {
  transition: transform 0.25s, opacity 0.15s;
}

.intro-message__overlay,
.intro-message__container {
  transition: opacity 0.15s;
}

.intro-phone-input-messages__message--sending {
  transform: scale(0.95);
}

.intro-phone-input-messages__message--sending .intro-message__overlay {
  opacity: 0.8;
}

.intro-phone-input-messages__message--sending .intro-message__container {
  opacity: 0.5;
}

.intro-phone-input-messages__message--sending::before {
  opacity: 0;
}

.intro-phone-input-messages__message--disabled {
  cursor: default !important;
}

.intro-phone-input-messages__message--disabled .intro-message__overlay {
  opacity: 0;
}

.intro-phone-input-messages__message--disabled .intro-message__container {
  opacity: 0.5;
}

.intro-phone-input-messages__message--disabled::before {
  opacity: 0.2;
}

.intro-phone__path-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: hidden;
}

.intro-phone__path {
  position: absolute;
  right: 186px;
  bottom: 172px;
}

@media (min-width: 1630px),
  (min-width: 1160px) and (max-width: 1629px),
  (min-width: 720px) and (max-width: 1159px) {
  .intro-phone__path-wrapper {
    clip: rect(auto, auto, auto, calc(5 * var(--spacing-unit)));
  }
}

@media (min-width: 720px) and (max-width: 1159px), (max-width: 719px) {
  .intro-phone__path-wrapper,
  .intro-phone__path {
    top: 0px;
    bottom: unset;
  }

  .intro-phone__path path:first-child {
    display: none;
  }
}

@media (max-width: 719px) {
  .intro-phone__path {
    left: calc(-2 * var(--spacing-unit));
    right: unset;
  }
}

.intro-phone__mockup-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 408px;
  height: auto;
  z-index: 1;
}

@media (min-width: 720px) and (max-width: 1159px) {
  .intro-phone__mockup-wrapper {
    transform: scale(0.88);
  }
}

@media (max-width: 719px) {
  .intro-phone__mockup-wrapper {
    position: relative;
    height: 701px;
    bottom: unset;
    left: 0;
    margin-right: auto;
    transform-origin: left bottom;
  }
}

.intro-phone__mockup {
  position: absolute;
  overflow: hidden;
  right: 20px;
  bottom: 0;
  width: 336px;
  height: 609px;
  z-index: 2;
  background-color: var(--color-product-lightgray);
}

.mockup__circle {
  position: absolute;
  z-index: 1;
  width: 29px;
  height: 29px;
  margin-top: calc(0.5 * 29px);
  margin-left: calc(-0.5 * 29px);
  margin-right: calc(-0.5 * 29px);
  /* svg width + svg offset */
  right: calc(1193px + 186px);
  border-radius: 50%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 32.29%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #ffffff;
  box-shadow: 0px 20px 40px rgba(26, 30, 40, 0.3);
}

@media (min-width: 720px) and (max-width: 1159px) {
  .mockup__circle {
    margin-top: calc(0.5 * 29px - 28px);
  }
}

@media (max-width: 719px) {
  .mockup__circle {
    margin-top: calc(-0.5 * 29px);
    left: calc(-2 * var(--spacing-unit));
    right: unset;
  }
}

.mockup__header {
  background-color: var(--color-blue);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
}

.mockup-header__blocks * {
  position: absolute;
  top: 3px;
  height: 12px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}

.mockup-header__blocks *:nth-child(1) {
  width: 95px;
  left: 3px;
}

.mockup-header__blocks *:nth-child(2) {
  width: 25px;
  left: 275px;
}

.mockup-header__blocks *:nth-child(3) {
  width: 25px;
  left: 304px;
}

.mockup-header__time {
  position: absolute;
  width: 100%;
  left: 2px;
  top: 4px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-family-product);
  font-size: 11px;
  font-weight: 500;
}

.mockup-header__logo {
  position: absolute;
  top: 28px;
  left: 123px;
}

.mockup-header-logo svg {
  height: 20px;
  width: auto;
}

.mockup-header-logo path {
  fill: var(--color-white);
}

.mockup__body {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  height: 551px;
  padding-right: 17px;
  box-sizing: content-box;
}

@media (min-width: 720px) and (max-width: 1159px), (max-width: 719px) {
  .mockup__body {
    overflow-y: hidden;
  }
}

.mockup__date {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.mockup__date span {
  text-transform: uppercase;
  font-family: var(--font-family-product);
  color: var(--color-product-midgray);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.12em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 19px;
  padding-bottom: 5px;
  background-image: linear-gradient(
    to bottom,
    var(--color-product-gainsboro) 0%,
    var(--color-product-gainsboro) 100%
  );
}

.mockup-messages__item {
  margin-top: 14px;
  margin-bottom: 24px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--color-product-gainsboro);
  transform-origin: center bottom;
}

.mockup-message__header {
  padding-left: 14px;
  display: flex;
}

.mockup-message-header__icon {
  height: 14px;
  width: auto;
}

.mockup-message-header__channel {
  color: var(--color-product-black);
  margin-left: 8px;
}

.mockup-message-header-channel__category {
  position: relative;
  margin-left: 16px;
  display: inline-flex;
}

.mockup-message-header-channel__category::before {
  content: " ";
  position: absolute;
  margin-left: -13px;
  margin-top: 4px;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
}

.mockup-message-header-channel__category--eilt::before {
  background-color: #9d23b1;
}

.mockup-message-header-channel__category--eilt {
  color: #9d23b1;
}

.mockup-message-header-channel__category--wirtschaft::before {
  background-color: #fdce40;
}

.mockup-message-header-channel__category--wirtschaft {
  color: #fdce40;
}

.mockup-message-header-channel__category--politik::before {
  background-color: #00897b;
}

.mockup-message-header-channel__category--politik {
  color: #00897b;
}

.mockup-message-header__time {
  margin-left: auto;
  margin-right: 14px;
  color: var(--color-product-black);
}

.mockup-message__content {
  display: flex;
  background-color: white;
  margin-top: 6px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 14px;
  line-height: 18px;
  letter-spacing: -0.006em;
}

.mockup-message-content__date {
  border: 1px solid var(--color-product-lightgray);
  width: 45px;
  margin-top: 2px;
  text-align: center;
  flex: 0 1 45px;
  align-self: flex-start;
}

.mockup-message-content-date__day {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0;
  font-weight: 400;
}

.mockup-message-content__time {
  color: var(--color-product-midgray);
}

.mockup-message-content__text {
  flex: 1 1 0%;
  margin-left: 14px;
}

.intro-phone__mockup-img {
  position: absolute;
  right: -35px;
  bottom: -99px;
  width: 446px;
  height: auto;
}

.intro-phone__channels {
  position: absolute;
  bottom: 172px;
  right: -187px;
}

.intro-phone__channels--tablet {
  overflow: visible;
  bottom: 0px;
  left: calc(-5 * var(--spacing-unit));
  height: 100%;
  width: auto;
}

.intro-phone__channels-2--tablet {
  overflow: visible;
  bottom: 10px;
  right: -70px;
  height: 100%;
  width: auto;
}

.intro-phone__channels--mobile {
  position: absolute;
  right: unset;
  left: calc(50% - 0.5 * 774px + 2px);
  top: -750px;
  bottom: unset;
}

.intro-phone__shadow {
  grid-column: 1 / -1;
  position: relative;
  bottom: calc(9 * var(--spacing-unit));
  margin-bottom: calc(-9 * var(--spacing-unit));
  height: calc(9 * var(--spacing-unit));
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  opacity: 0.3;
  z-index: 1;
}
