.root {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
}


.isBlack {
    background-color: var(--color-black);
}

.isWhite {
    background-color: var(--color-white);
}

.isGray{
    background: var(--color-gray-300);
}

.root :hover {
    background-color: blue;
}

.isActive {
    background-color: blue;
}