.root {
  position: relative;
}
.swiperContainer {
  grid-row: 1/2;
  height: 388px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media (--tablet) {
    height: 370px;
  }
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  grid-row: 1/2;
}

.swiperSlide img {
  display: inline-block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

.swiperContainer :global(.swiper-pagination) {
  //position: absolute;
  //bottom: 0;
}

.swiperContainer :global(.swiper-pagination):not (:last-child) > * {
  margin-right: 8px;
}

.bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--color-black);
}

.bulletActive {
  background-color: blue;
}

.navigation {
  margin-top: calc(var(--spacing-unit) * 2);
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -1px;
  z-index: 2;
}

.prevButton,
.nextButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.prevButton:hover,
.nextButton:hover {
}
