.root {
}
.swiperContainer {
  //width: 100%;
  //height: auto;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pagination {
  position: absolute;
  bottom: 10px;
}

.pagination:not (:last-child) > * {
  margin-right: 8px;
}

.bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--color-black);
}

.bulletActive {
  background-color: blue;
}

.navigation {
  margin-top: calc(var(--spacing-unit) * 2);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prevButton,
.nextButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.prevButton {
}

.nextButton {
}
