.root {
  display: inline-flex;
  align-items: center;
}
.root span:hover {
  cursor: pointer;
}

.root span :not (:first-child) {
  margin-left: var(--spacing-unit);
}

.bullets {
  @media (--mobile) {
    display: none;
  }
}

.numbers {
  display: none;
  @media (--mobile) {
    display: inline-block;
  }
}

.activePageNumber {
  color: #003edb;
}
