.root {
  display: flex;
}
.container {
  background-color: var(--color-gray-900);
  color: var(--color-white);
  padding: calc(var(--spacing-unit) * 10) calc(var(--spacing-unit) * 21)
    calc(var(--spacing-unit) * 12) calc(var(--spacing-unit) * 8);
}
/*todo: how to make the size of the image responsive to the text length*/
.image {
  height: auto;
  width: 677px;
}

.description {
}

.signalPhrase {
}

.quote {
  margin-top: calc(var(--spacing-unit) * 3);
}

.slider {
  margin-top: calc(var(--spacing-unit) * 6.5);
}

.textLoop {
}
