.root{
    composes: container from '../../styles/Home.module.css';
}

.title{
    margin-top: calc(var(--spacing-unit)*11);
    grid-column: 1/span 8;

}

.description{
    margin-top: calc(var(--spacing-unit)*4);
    grid-column: 1/span 11;
    line-height: 1.5em;
}

.filters{
    grid-column: 1/span 11;
    margin-top: 112px;
    color: var(--color-blue);
}

.filters *{
    margin-right: calc(var(--spacing-unit)*3);
}

.list{
    grid-column: 1/-1;
    margin-top: calc(var(--spacing-unit)*6);

}
.showMoreButton{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}

