.root {
  position: relative;
  color: var(--color-gray-900);
  background: var(--color-gray-100);
  padding-top: calc(var(--spacing-unit) * 8.5);
  padding-bottom: calc(var(--spacing-unit) * 16.5);
  @media (--tablet) {
    padding-top: calc(var(--spacing-unit) * 7.5);
    padding-bottom: calc(var(--spacing-unit) * 15);
  }
  @media (--mobile) {
    padding-top: calc(var(--spacing-unit) * 6.5);
    padding-bottom: calc(var(--spacing-unit) * 7);
  }
}

.title,
.description,
.button {
  grid-column: 1 / span 7;
  justify-self: flex-start;
  @media (--tablet) {
    grid-column: 1 / -1;
  }
  @media (--mobile) {
    grid-column: 1 / -1;
  }
}
.title {
  grid-row: 1;
  margin-top: 28px;
}
.description {
  margin-top: calc(var(--spacing-unit) * 3);
  grid-row: 2/4;
}
.button {
  grid-row: 4;
  margin-top: calc(var(--spacing-unit) * 4);
  margin-bottom: calc(var(--spacing-unit) * 1.5);
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  background: var(--color-blue);
  color: var(--color-white);
  transition: box-shadow 300ms;

  @media (--tablet) {
    margin-top: calc(var(--spacing-unit) * 5);
  }
  @media (--mobile) {
    margin-top: calc(var(--spacing-unit) * 5);
    justify-self: center;
  }
}
.button:hover {
  box-shadow: 0 8px 24px rgba(26, 30, 40, 0.2);
}

.laptopImage {
  grid-column: -5/-1;
  grid-row: 1/5;
  justify-self: flex-start;
}

.appMenu {
  grid-column: 9/12;
  grid-row: 2/5;
  width: 317px;
  height: 298px;
  align-self: flex-end;
  z-index: 1;
  margin-left: 20px;
}
