.root {
  composes: container from "../../styles/Home.module.css";
  color: var(--color-gray-900);
  padding-bottom: calc(var(--spacing-unit) * 18);
}

.title {
  margin-top: calc(var(--spacing-unit) * 12);
  grid-column: 1/8;
}

.description {
  margin-top: calc(var(--spacing-unit) * 3);
  grid-column: 1/8;
}
.buttonContainer {
  margin-top: calc(var(--spacing-unit) * 4);
  grid-column: 1/5;
  display: flex;
  justify-content: flex-start;
}
