.root {
  background-color: var(--color-gray-900);
  color: var(--color-white);
  padding-top: calc(var(--spacing-unit) * 3);
  padding-bottom: calc(var(--spacing-unit) * 3);
}
.isLight {
  background-color: var(--color-white);
  color: var(--color-gray-900);
}

.logo {
  grid-column: 1 / span 2;
  align-self: center;
  cursor: pointer;
  width: 149px;
  grid-row: 1;
  @media (--mobile) {
    width: 122px;
  }
}
/*todo:align all elements without extra padding on top and bottom*/
.list {
  grid-column: span 10/-1;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (--tablet) {
    grid-column: span 5/-1;
  }
  @media (--mobile) {
    grid-column: span 3/-1;
  }
}

.list li:not(:nth-last-child(-n + 2)) {
  margin-right: calc(var(--spacing-unit) * 4.5);
}

.logoAnmelden {
  height: 20px;
  margin-right: 10px;
}

.signIn {
  margin-right: calc(var(--spacing-unit) * 2);
  display: flex;
  align-items: center;
  //height: 100%;
  //border-color: var(--color-blue);
  border: 1px solid var(--color-blue);
}
