.root {
  background-color: var(--color-gray-900);
  color: var(--color-white);
  padding: calc(var(--spacing-unit) * 3) 0;
}
.container {
  composes: container from "../../styles/Home.module.css";
}

.logo {
  grid-column: 1 / span 2;
}

.list {
  grid-column: span 10/-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list li:not(:last-child) {
  margin-right: calc(var(--spacing-unit) * 5);
}

.logoAnmelden {
  height: 20px;
  margin-right: 10px;
}

.signIn {
  border: 1px solid var(--color-blue);
  padding: 0.5em 1em;
  margin-right: -0.5em;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-blue);
}
