.root {
}
.container {
  composes: container from "../../styles/Home.module.css";
}

.signalPhrase {
  margin-top: calc(var(--spacing-unit) * 12);
  grid-column: 1 / span 4;
}
.title {
  grid-column: 1 / span 6;
}
.description {
  margin-top: calc(var(--spacing-unit) * 5);
  grid-column: 1 / span 6;
}
.button {
  margin-top: calc(var(--spacing-unit) * 12);
  grid-column: 1 / span 3;
}
.applicationsMenu {
  grid-column: 7/-1;
}
