.root {
  background: linear-gradient(
    to right,
    var(--color-white) 60%,
    rgba(0, 176, 100, 0.5) 60%,
    rgba(0, 176, 100, 1)
  );
  /*padding-bottom: calc(var(--spacing-unit) * 2);*/
}
.container {
  composes: container from "../../styles/Home.module.css";
  grid-template-rows: repeat(3, auto) 60px calc(var(--spacing-unit) * 12);
}

.signalPhrase {
  margin-top: calc(var(--spacing-unit) * 12);
  grid-column: 1 / span 4;
}
.title {
  grid-column: 1 / span 6;
}
.descriptionAndButtonContainer {
  grid-column: 1 / span 6;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.description {
  margin-top: calc(var(--spacing-unit) * 5);
}
.details {
  margin-top: calc(var(--spacing-unit) * 5);
}
.button {
  margin-top: calc(var(--spacing-unit) * 12);
}
.appMenuIcon {
  grid-column: -2;
  grid-row: 1;
  align-self: flex-end;
  margin-left: 18px;
}

.applicationsMenu {
  grid-column: 7/-1;
  grid-row: 2 / 4;
  display: grid;
}
.appContainer {
  margin: 33px 11px 98px 21px;
  grid-column: 7/-1;
  grid-row: 2/4;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  align-items: center;
}
.cell {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.icon {
  justify-self: center;
}
.appName {
  text-align: center;
  /*width: 90%;*/
}
