.root {
  composes: container from "../../styles/Home.module.css";
}

.title {
  margin-top: calc(var(--spacing-unit) * 11);
  grid-column: 1 / span 8;
}

.description {
  margin-top: calc(var(--spacing-unit) * 4);
  grid-column: 1 / span 11;
  line-height: 1.5em;
}

.filterOptions {
  grid-column: 1 / span 2;
  margin-top: calc(var(--spacing-unit) * 11);
}

.filters {
  grid-column: 1 / span 11;
  margin-top: calc(var(--spacing-unit) * 4);
  color: var(--color-blue);
}

.filters * {
  margin-right: calc(var(--spacing-unit) * 3);
}

.list {
  grid-column: 1/-1;
  margin-top: calc(var(--spacing-unit) * 6);
}

.list > div {
  margin-top: calc(var(--spacing-unit) * 2);
}

.showMoreButton {
  grid-column: 1/-1;
  margin-top: calc(var(--spacing-unit) * 6);
  display: flex;
  justify-content: center;
}
