.root {
  padding-top: calc(var(--spacing-unit) * 12);
  padding-bottom: calc(var(--spacing-unit) * 12);
  color: var(--color-white);
  background-color: var(--color-mid-blue);
  background-image: linear-gradient(
      to right,
      rgba(26, 30, 40, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../../public/images/applications-pattern.svg");
  background-size: 212%;
  background-position: 50%; /*to center the image*/

  @media (--tablet) {
    padding-top: calc(var(--spacing-unit) * 15);
    padding-bottom: calc(var(--spacing-unit) * 15);
    background-size: 290%;
  }
  @media (--mobile) {
    padding-top: calc(var(--spacing-unit) * 10);
    padding-bottom: calc(var(--spacing-unit) * 7);
    background-size: 450%;
  }
}

.title,
.description,
.filterOptions {
  grid-column: 3 / span 9;
  justify-self: flex-start;
  @media (--tablet) {
    grid-column: 3/-3;
  }
}

.description {
  margin-top: calc(var(--spacing-unit) * 3);
}

.filterOptions {
  margin-top: calc(var(--spacing-unit) * 11);
  @media (--mobile) {
    margin-top: calc(var(--spacing-unit) * 8);
  }
}

.filters {
  grid-column: 3 / -3;
  margin-top: calc(var(--spacing-unit) * 3);
  color: var(--color-white);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter {
  margin-right: calc(var(--spacing-unit) * 2);
  margin-bottom: calc(var(--spacing-unit) * 3);
  border: 1px solid var(--color-white);
}
.filter:hover {
  background: rgba(255, 255, 255, 0.16);
  @media (--tablet), (--mobile) {
    background: transparent;
  }
}
.activeFilter:hover {
  background: white;
}

.list {
  grid-column: 3/-3;
  margin-top: calc(var(--spacing-unit) * 2);
  @media (--tablet) {
    margin-top: calc(var(--spacing-unit) * 3);
  }
}

.list > div:not(:first-child) {
  margin-top: calc(var(--spacing-unit) * 2);
}
.list > div:nth-child(2n) {
  margin-top: 0;
}

.showMoreButtonContainer {
  grid-column: 1/-1;
  margin-top: calc(var(--spacing-unit) * 6);
  display: flex;
  justify-content: center;
  background: transparent;
  @media (--tablet) {
    margin-top: calc(var(--spacing-unit) * 5);
  }

  .showMoreButton {
    border: 1px solid var(--color-white);
  }

  .showMoreButton:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
  }
  .showMoreButtonDisabled,
  .showMoreButtonDisabled:hover {
    //border: 1px solid var(--color-gray-300);
    //background-color: transparent;
    //color: var(--color-gray-300);
    //cursor: auto;
    display: none;
  }
}
