.root {
  composes: container from "../../styles/Home.module.css";
  margin-bottom: calc(var(--spacing-unit) * 12);
}

.title {
  margin-top: calc(var(--spacing-unit) * 12);
  grid-column: 1 / span 9;
}

.description {
  margin-top: calc(var(--spacing-unit) * 3);
  grid-column: 1 / span 9;
}

.filterOptions {
  grid-column: 1 / span 2;
  margin-top: calc(var(--spacing-unit) * 11);
}

.filters {
  grid-column: 1 / span 11;
  margin-top: calc(var(--spacing-unit) * 3);
  color: var(--color-blue);
  display: flex;
  justify-content: flex-start;
}

.filter {
  margin-right: calc(var(--spacing-unit) * 2);
}

.list {
  grid-column: 1/-1;
  margin-top: calc(var(--spacing-unit) * 5);
}

.list > div {
  margin-top: calc(var(--spacing-unit) * 2);
}

.showMoreButton {
  grid-column: 1/-1;
  margin-top: calc(var(--spacing-unit) * 6);
  display: flex;
  justify-content: center;
}
