@value navigationHeightL: 82px;
@value navigationHeightM: 70px;
@value navigationHeightS: 66px;

.root {
  padding-top: calc(var(--spacing-unit) * 12 + navigationHeightS);
  padding-bottom: calc(var(--spacing-unit) * 30);
  @media (--tablet) {
    padding-top: calc(var(--spacing-unit) * 7.5 + navigationHeightL);
    padding-bottom: calc(var(--spacing-unit) * 17);
  }
  @media (--mobile) {
    padding-top: calc(var(--spacing-unit) * 6.5 + navigationHeightM);
    padding-bottom: calc(var(--spacing-unit) * 11);
  }
}
.buttonContainer {
  grid-column: 3 / span 3;
  justify-self: flex-start;
}

.button {
  color: var(--color-blue);
  padding-left: 0;
  border: none;
}

.title {
  margin-top: calc(var(--spacing-unit) * 5);
  grid-column: 3 / span 8;
  @media (--tablet), (--mobile) {
    grid-column: 3/-3;
    margin-top: calc(var(--spacing-unit) * 3);
  }
}

.description {
  grid-column: 3 / span 8;
  margin-top: calc(var(--spacing-unit) * 4);
  line-height: 34px;
  @media (--tablet), (--mobile) {
    grid-column: 3/-3;
  }
}

.description *:not(:first-child) {
  margin-top: calc(var(--spacing-unit) * 2);
}

.address {
  margin-top: 0;
}

.description a {
  color: blue;
  text-decoration: underline;
}
.list {
  list-style: disc;
}
.list > li {
  margin-left: 100px;
}
.firstList {
  grid-column: 3/11;
  grid-row: 38;
  @media (--tablet), (--mobile) {
    grid-column: 3/-3;
  }
}
.secondList {
  grid-column: 3/11;
  grid-row: 41;
  @media (--tablet), (--mobile) {
    grid-column: 3/-3;
  }
}
.underlinedBold {
  text-decoration: underline;
  font-weight: 500;
  grid-column: 3/11;
  grid-row: 42;
  @media (--tablet), (--mobile) {
    grid-column: 3/-3;
  }
}
