.root {
  background-color: var(--color-mid-blue);
  color: var(--color-white);
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  position: relative;
  grid-template-rows: calc(var(--spacing-unit) * 9) repeat(3, auto) calc(
      var(--spacing-unit) * 12
    );
  @media (--tablet) {
    grid-template-rows: calc(var(--spacing-unit) * 15) repeat(3, auto) 66px calc(
        var(--spacing-unit) * 15
      );
  }
  @media (--mobile) {
    grid-template-rows: calc(var(--spacing-unit) * 7) repeat(2, auto) 66px calc(
        var(--spacing-unit) * 15
      );
  }
}
.root::before {
  display: none;
  @media (--tablet) (--mobile) {
    display: block;
    //position: absolute;
    //top: 0;
    //right: 0;
    //left: 0;
    //bottom: 0;
    //content: url("../../public/images/BG Image.svg");
    transform: scaleY(1.06);
    //object-fit: cover;
    background-image: url("../../public/images/BG Image.svg");
  }
}

.signalPhrase {
  grid-column: 3 / span 4;
  grid-row: 2/3;
  @media (--mobile) {
    display: none;
  }
}

.title {
  grid-column: 3 / span 6;
  grid-row: 3/4;
  margin-top: var(--spacing-unit);
  @media (--tablet), (--mobile) {
    margin-top: 0;
  }
  @media (--mobile) {
    grid-row: 2/3;
  }
}

.description {
  grid-column: 3 / span 6;
  grid-row: 4/5;
  margin-top: calc(var(--spacing-unit) * 3);
  @media (--tablet), (--mobile) {
    grid-column: 3 / -3;
    margin-top: calc(var(--spacing-unit) * 5);
    margin-bottom: calc(var(--spacing-unit) * 9);
  }
  @media (--mobile) {
    grid-row: 3/4;
  }
}

.drawingsAndCallToAction {
  grid-column: 9/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 3fr 222px 2fr;
  grid-template-rows: auto 51px auto;
  @media (--tablet), (--mobile) {
    display: none;
  }
}

.pattern {
  grid-column: 1/-1;
  justify-self: stretch;
  grid-row: 1/-1;
}

.patternTabletAndMobile {
  display: none;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  object-fit: cover;

  @media (--tablet), (--mobile) {
    display: inline-block;
  }
  @media (--tablet) {
    height: 658px;
  }
  @media (--mobile) {
    height: 580px;
  }
}
.callToActionButton {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0 20px 40px 0 rgba(26, 30, 40, 0.3);
  padding: 0 calc(var(--spacing-unit) * 3);
  color: var(--color-gray-900);
  transition: all 100ms;
  z-index: 1;
}
.callToActionButton:hover {
  transform: scale(1.01);
  box-shadow: 0 20px 45px 0 rgba(26, 30, 40, 0.25);
}

.callToActionButtonTabletAndMobile {
  display: none;
  @media (--mobile), (--tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0 20px 40px 0 rgba(26, 30, 40, 0.3);
    padding: 0 calc(var(--spacing-unit) * 3);
    color: var(--color-gray-900);
    grid-row: 5/6;
    z-index: 1;
  }
  @media (--tablet) {
    grid-column: 5/9;
  }
  @media (--mobile) {
    grid-column: 3/-3;
    grid-row: 4/5;
  }
}

.logo {
  width: 27px;
  height: 27px;
  margin-right: calc(var(--spacing-unit) * 3);
}
