.root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;

  @media (--tablet) {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 0;
  }
  @media (--mobile) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
  }
}
.margin {
  padding-left: 56px;
  padding-right: 56px;

  @media (--tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (--mobile) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
