.container {
  width: 90%;
  max-width: 1328px;
  min-width: 700px;
  margin: 0 auto;
}
.navigation,
.footer {
  /*position: fixed;*/
  width: 100%;
}

.navigation {
  top: 0;
}

.footer {
  bottom: 0;
  height: calc(var(--spacing-unit) * 35);
}
.hero {
  /*margin-top: calc(var(--spacing-unit) * 12);*/
}
.quotes {
  /*margin-top: 102px;*/
}

.applications {
  margin-bottom: calc(var(--spacing-unit) * 35);
}

.partnerProgram {
}

.signIn {
}
