.container{
    width: 90%;
    max-width: 1328px;
    min-width: 700px;
    margin: 0 auto;
}
.navigation,
.footer{
    position: fixed;
    width: 100%;
}

.navigation{
    top:0;
}

.footer{
    bottom: 0;
    height: 280px;
}